<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2" style="height: 450px;">
        <div *ngIf="login">
          <h2>Login</h2>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': fL.username.errors }"
              />
              <div
                *ngIf="fL.username.errors"
                class="invalid-feedback"
              >
                <div [ngClass]="{'text-danger':fL.username.errors.required}" *ngIf="fL.username.errors.required">
                  Username is required
                </div>
                <div [ngClass]="{'text-danger':fL.username.errors.minlength}" *ngIf="fL.username.errors.minlength">
                  Username must be at least 5 characters
                </div>
                <div [ngClass]="{'text-danger':fL.username.errors.maxlength}" *ngIf="fL.username.errors.maxlength">
                  Username must be at most 50 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': fL.password.errors }"
              />
              <div
                *ngIf="fL.password.errors"
                class="invalid-feedback"
              >
                <div [ngClass]="{'text-danger':fL.password.errors.required}" *ngIf="fL.password.errors.required">
                  Password is required
                </div>
                <div [ngClass]="{'text-danger':fL.password.errors.minlength}" *ngIf="fL.password.errors.minlength">
                  Password must be at least 5 characters
                </div>
                <div [ngClass]="{'text-danger':fL.password.errors.maxlength}" *ngIf="fL.password.errors.maxlength">
                  Password must be at most 50 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
              <a class="btn btn-link" (click)="toggle()">Register</a>
            </div>
          </form>
        </div>
        <div *ngIf="!login">
          <h2>Register</h2>
          <form [formGroup]="registerForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{ 'is-invalid': fR.username.errors }"
              />
              <div
                *ngIf="fR.username.errors"
                class="invalid-feedback"
              >
                <div [ngClass]="{'text-danger':fR.username.errors.required}" *ngIf="fR.username.errors.required">
                  Username is required
                </div>
                <div [ngClass]="{'text-danger':fR.username.errors.minlength}" *ngIf="fR.username.errors.minlength">
                  Username must be at least 3 characters
                </div>
                <div [ngClass]="{'text-danger':fR.username.errors.maxlength}" *ngIf="fR.username.errors.maxlength">
                  Username must be at most 50 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': fR.password.errors }"
              />
              <div
                *ngIf="fR.password.errors"
                class="invalid-feedback"
              >
                <div [ngClass]="{'text-danger':fR.password.errors.required}" *ngIf="fR.password.errors.required">
                  Password is required
                </div>
                <div [ngClass]="{'text-danger':fR.password.errors.minlength}" *ngIf="fR.password.errors.minlength">
                  Password must be at least 5 characters
                </div>
                <div [ngClass]="{'text-danger':fR.password.errors.maxlength}" *ngIf="fR.password.errors.maxlength">
                  Password must be at most 50 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': fR.email.errors }"
              />
              <div
                *ngIf="fR.email.errors"
                class="invalid-feedback"
              >
                <div [ngClass]="{'text-danger':fR.email.errors.required}" *ngIf="fR.email.errors.required">
                  Email is required
                </div>
                <div [ngClass]="{'text-danger':fR.email.errors.email}" *ngIf="fR.email.errors.email">
                  Email is not in correct format
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="!registerForm.valid" class="btn btn-primary" (click)="registerUser()">
                Register
              </button>
              <a class="btn btn-link" (click)="toggle()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</div>
